{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>

    <div class="container pt-5">

            <div class="col-md-12">
                <h2 align="center" class="font-weight-bold">ILMP</h2>
                <br>
            </div>

    </div>     
    <p style="text-align:center;"><img src="{% static 'ilmp_app/assets/img/default/Logo1.png' %}" width="200" height="200" alt="Image" align="center"></p>
    <br>
    <b><p align="center" >¿Qué es ILMP?</p></b>

    <p align="center" >I Lost My Pet ayuda a reunir a las mascotas desaparecidas con su familia.</p>

    <p align="center" >La pérdida de una mascota puede ser angustiosa tanto para la misma mascota como para el dueño.</p>
    
    <p align="center" >Recibe alertas de mascotas desaparecidas y encontradas de una zona geográfica y mensajes del resto de la comunidad
    de haber encontrado tu mascota o avisa a los demás de haber encontrado una mascota perdida.</p>
    
    <b><p align="center" >Con esta aplicación podrás:</p></b>
    
    <p align="center" >-Crear el perfil de cada una de tus mascotas(Foto, nombre descripción) de modo que, si desaparece puedas rellenar los campos con mayor agilidad.</p>
    
    <p align="center" >-Subir la pérdida al tablón de animales perdidos para que otros usuarios de la comunidad sean alertados y puedan verificar si esta se encuentra en la zona.</p>
    
    <p align="center" >-Recibir notificaciones por correo y ponerte en contacto con otros usuarios de la misma aplicación de haber encontrado la mascota.</p>                
    
    <br>
    <!--<b><p align="center" >Redes sociales</p></b>-->

    <p style="text-align:center;">
        <a href="https://www.instagram.com/i_lostmypet/"><img src="{% static 'ilmp_app/assets/img/default/instaicon.png' %}" width="50" height="50" alt="Image" align="center"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/I_LostMyPet"><img src="{% static 'ilmp_app/assets/img/default/twittericon.png' %}" width="50" height="50" alt="Image" align="center"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/profile.php?id=100089469847249"><img src="{% static 'ilmp_app/assets/img/default/facebookicon.png' %}" width="50" height="50" alt="Image" align="center"></a>
    </p>
<!--
    <br>
    {% if user.is_authenticated %}
    <div>
    </div>
    {% else %}
        <div align="center">
            <p>No estás logeado<br> <a href="{% url 'login' %}">Logeate</a></p>
            
            <p>¿Todavía no eres miembro de la comunidad?<br> <a href="{% url 'register' %}">Regístrate</a> </p>
            
        </div>
    {% endif %}
    -->
    <br>
</body>
{% endblock %}