

{% block content %}
    <h2>Mascotas encontradas</h2>
    <ul>
        {% for encuentro in object_list %}
        <li><a href={% url 'ilmp:encuentros-detail' encuentro.id %}>{{ encuentro.typeFind }}</a>
            <a href="{% url 'ilmp:encuentros-update' encuentro.id %}"> <button>Modificar</button></a>&nbsp;&nbsp;
            <a href="{% url 'ilmp:encuentros-delete' encuentro.id %}"> <button>Eliminar</button></a>
        </li>
        {% endfor %}
        <p><a href="{% url 'ilmp:encuentros-add' %}"> <button>Añadir</button></a></p>
    </ul>
{% endblock %}