{% extends 'base.html' %}
{% load static %}


{% block content %}

<br>
<h2 style="text-align:center" class="font-weight-bold">Información de {{ object.namePet }}</h2>
<br>

<form style="text-align:center" enctype="multipart/form-data" method="post">{% csrf_token %}
    <img width="300" height="300" alt="Image" class="img-fluid mb-4 mb-md-0" src="/media/{{ object.imgPet }}">
    <br><br>
    {{ form.as_p }}
    <input type="submit" value="Modificar">
    <br><br>
  
</form>
<br><br>

{% endblock %}


