{% extends 'base.html' %}
{% load static %}


{% block content %}
<br>
<h2 style="text-align:center" class="font-weight-bold">{{ object.namePet }}</h2>
<br>
<form style="text-align:center" method="post">{% csrf_token %}
    <img width="300" height="300" alt="Image" class="img-fluid mb-4 mb-md-0" src="/media/{{ object.imgPet }}">
    <br><br>
    <p>¿Estás seguro de eliminar la mascota "{{ object }}"?</p>
    <input type="submit" value="Eliminar">
    <br><br>
     
    <!--<a type="button" value="Volver" href="{% url 'ilmp:mascotas-add' %}"></a><button>Volver</button>-->
</form>
{% endblock %}