{% extends 'base.html' %}
{% load static %}


{% block content %}

               <!-- Blog List Start -->
               <div class="container bg-backblue pt-5">
                <div class="row blog-item px-3 pb-5">
                    <div class="col-md-12">
                        <h2 align="center" class="font-weight-bold">Tus Mascotas</h2>
                        <br>
                        {% if request.user.is_authenticated %}
                        <h5 align="center" class="font-weight-bold"><a href="{% url 'ilmp:mascotas-add' %}">Añadir mascota</a></h5>
                        
                        {% endif %}
                        
                        

               <!-- Blog List Start -->

                            <ul>
                                {% for mascota in listamascota %}
                                <!-- Blog List Start -->
        <table>
            <div class="container bg-backblue pt-2">
                <div class="row blog-item bg-blue px-3 pb-4 pt-4">
                    <div class="col-md-5">
                        <a href="{% url 'ilmp:mascotas-update' mascota.id %}"><img width="300" height="300" alt="Image" class="img-fluid mb-4 mb-md-0" src="/media/{{ mascota.imgPet }}"> 
                            </a>
                        </div>
                    <div class="col-md-7">
                        <h4 class=" font-weight-bold"><br>{{ mascota.namePet }}</h4>
                        <br>
                        <p>
                            Tipo: {{ mascota.typePet }}
                        </p>
                        <p>
                            Información: {{ mascota.infoPet }}
                        </p>
                        <p>
                            Género: {{ mascota.genderPet }}
                        </p>
                        <p>
                            Edad: {{ mascota.agePet }}
                        </p>
                        <p>
                            <a href="{% url 'ilmp:mascotas-update' mascota.id %}">Modificar</a>
                            &nbsp;&nbsp;&nbsp;
                            <a href="{% url 'ilmp:mascotas-delete' mascota.id %}">Eliminar</a>
                        </p>
                    
                </div>
            </div>
                                
            {% empty %}
                <li>Aún no has agregado ninguna mascota.</li>
            {% endfor %}
        <br>
        </table>
    </ul>
{% endblock %}



