{% extends 'base.html' %}
{% load static %}


{% block content %}


        <div class="container bg-white pt-5">
            <div class="row blog-item px-3 pb-5">
                <div class="col-md-12">
                    <h3 align="center">{{ object.namePet }}</h3>

    <h2>{{ object.infoPet }}</h2>

        </br>

        <p>Género : {{ object.genderPet }}</p>
        <p>Tipo de Animal : {{ object.typePet }}</p>
        <p>Nacido el {{ object.agePet }}</p>
        </br>
        <p>Imagen : <img src="/media/{{ object.imgPet }}"></p>
        </br>
        <p>Dueño : {{ object.usrPet }}</p>
<br>
</div>
</div>


{% endblock %}