{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<h2 align="center" class="font-weight-bold">Reporta tu desaparición</h2>
<br>
<h6 align="center" >Rellena los siguientes campos para completar el formulario de desaparición</h6>


<form action="" style="text-align:center" enctype="multipart/form-data" method="POST">{% csrf_token %}
<br>

<table>
    <div>
        <label>Descripción: </label>
        <div>
            {{ var_perdidos.infoLost }}
        </div>
        <br>
    </div>
    <div>
        <label>Fecha de desaparición: </label>
        <div>
            {{ var_perdidos.dateLost }}
        </div>
        <br>
    </div>
    <div>
        <label>Ubicación de pérdida: </label>
        <div>
            {{ var_perdidos.ubiLost }}
        </div>
        <br>
    </div>
    <div>
        <label>Animal desaparecido: </label>
        <div>
            <select name="pet" id="pet">
                {% for pet in ownpet %}
                    <option value={{pet.id}}>
                        {{ pet }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <br>
    </div>
</table>

<br>

<input type="submit" value="Guardar">
<br><br>
    <!--
    <br>
    {{ var_perdidos.as_p }}-->
    <!--{{ form.as_p }}--><!--
    <input type="submit" value="Guardar">
    <br><br>
-->
</form>


{% endblock %}


